
/* 240821 로그인 페이지 css */

.loginWrapper{
    border: 1px black solid;
    width: 250px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    color: cornflowerblue;
}

#loginForm > input{
    background-color: #9999;
    border: white;
}

#loginForm > input::placeholder{
    background-color: #d2d2d2;
    
}

#loginForm  > input[type="submit"]{
    color: white;
    background-color: cornflowerblue;
    width: 170px;
    margin-top: 10px;
}

#loginForm  > #chechboxLabel{
    display: block;
    color: black;
}

.loginWrapper > .missing > button{
    border: white;
    color: white;
    background-color: cornflowerblue;
    padding: 5px;
    margin: 4px;
}