
/* 240821 비밀번호찾기 페이지 css */

.missingPasswordWrapper{
    border: 1px black solid;
    width: 250px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    color: cornflowerblue;
}

#missingPasswordForm > input{
    background-color: #9999;
    border: white;
}

#missingPasswordForm > input::placeholder{
    background-color: #d2d2d2;
    
}

/* #missingId-form  > input[type="submit"]{
    color: white;
    background-color: cornflowerblue;
    width: 170px;
    margin-top: 10px;
} */



.missingPasswordWrapper > #missingPasswordForm > .missing > input[type="submit"]{
    border: white;
    color: white;
    background-color: cornflowerblue;
    padding: 5px;
    margin: 4px;

}